.track {
  transition: none;
  display: flex;
}

.gallary {
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
}

.gallary::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--bg-main), transparent 10% 90%, var(--bg-main));
  pointer-events: none;
  display: block;
}

.track img {
  pointer-events: none;
  user-select: none;
}