:root {
  --white: #fff;
  --black: #000000;
  --yellow: #ffed00;
  --cyan-bluish-gray: #abb8c3;
  --white: #ffffff;
  --pale-pink: #f78da7;
  --vivid-red: #cf2e2e;
  --luminous-vivid-orange: #ff6900;
  --luminous-vivid-amber: #fcb900;
  --light-green-cyan: #7bdcb5;
  --vivid-green-cyan: #00d084;
  --pale-cyan-blue: #8ed1fc;
  --vivid-cyan-blue: #0693e3;
  --vivid-purple: #9b51e0;
  --synced-color: #7a00df;
  --canvas-background: #ddd;
  --admin-color: #007cba;
  --admin-color-darker-10: #006ba1;
  --admin-color-darker-20: #005a87;
}

* {
  padding: 0;
  margin: 0;
  transition: all .3s;
  box-sizing: border-box;
}

html {
  font-size: calc(8 * 100 / 1400 * 1dvw);
  scroll-behavior: smooth;
}

body {
  margin-bottom: 20vw;
  color: var(--white);
  font-family: var(--font-helvetica), sans-serif;
  background-color: #0e0e0e;
}

section {
  padding: 40px;
}

a {
  font-weight: 550;
  color: var(--white);
  text-decoration: none;
  outline: none;
} a:hover {
  color: var(--yellow);
}

button {
  background-color: var(--yellow);
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

h1, h2 {
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 991px) {
  section {
    padding: 6vw 2.5vw;
  }
}