/* #region H E R O */
.hero {
  position: relative;
  height: calc(100dvh - 86px);
  align-items: center;
  display: grid;
}
.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.6;
  display: block;
}
.hero::before {
  content: "";
  position: absolute;
  z-index: -2;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/imgs/hero.webp);
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  display: block;
}

.hero_content {
  max-width: 1300px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  margin-top: -86px;
  gap: 16px;
  display: grid;
}

.hero_img {
  width: 50%;
  height: auto;
}

.hero_title {
  font-size: 40px;
  letter-spacing: 0.15em;
}

.hero_desc {
  width: 50%;
  font-size: 24px;
}

.hero_btn {
  width: 50%;
  padding: 14px;
  font-size: 18px;
  font-weight: 550;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .hero {
    height: calc(100dvh - 23dvw);
  }
  .hero_content {
    width: 100%;
    margin-top: -23dvh;
    gap: 4vw;
  }
  .hero_img,
  .hero_desc,
  .hero_btn {
    width: 100%;
  }
  .hero_title {
    font-size: 5vw;
    text-wrap: nowrap;
    text-align: center;
  }
  .hero_desc {
    font-size: 4vw;
    text-align: center;
  }
  .hero_btn {
    padding: 3vw;
    font-size: 3vw;
  }
}
/* #endregion H E R O */

/* #region N E W S */
.news {
  gap: 32px;
  display: grid;
}

.news_title {
  font-size: 80px;
  text-align: center;
  letter-spacing: 0.05em;
}

.news_list {
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  display: flex;
}

.news_link {
  margin: 0 auto;
  display: block;
}

.news_btn {
  padding: 20px 40px;
  font-size: 16px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .news {
    gap: 6vw;
  }
  .news_title {
    font-size: 9vw;
  }
  .news_link {
    width: 100%;
  }
  .news_btn {
    width: 100%;
    padding: 2vw;
    font-size: 4vw;
  }
}
/* #endregion N E W S */

/* #region B E N E F I T S */
.bnft_title {
  max-width: 723px;
  margin: 0 auto;
  margin-bottom: 64px;
  font-size: 36px;
  text-align: center;
  display: block;
}

.bnft_list {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}

.bnft_list::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 210px / 2);
  height: 4px;
  background: linear-gradient(-90deg, var(--yellow) 50%, var(--black) 50%);
  background-size: 200%;
  display: block;
}

.bnft_item {
  position: relative;
}

.bnft_item img {
  margin: 0 auto;
  padding: 18px;
  border: 1px solid var(--yellow);
  border-radius: 100vw;
  background-color: #1d1d1d;
  display: block;
}

.bnft_desc {
  position: relative;
  width: 180px;
  margin-top: 22px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #1d1d1d;
  border: 1px solid var(--yellow);
  border-radius: 8px;
  opacity: 0;
  display: block;
}

.bnft_desc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-135deg);
  width: 12px;
  height: 12px;
  box-shadow: 1px 1px 0 var(--yellow);
  background-color: #1d1d1d;
  display: block;
}

.activeList .bnft_list::before {
  animation: bnft_line 4s linear 1s forwards;
}
.activeList .bnft_item img {
  animation: bnft_icon 0.3s linear var(--delay) forwards;
}
.activeList .bnft_desc {
  animation: bnft_desc 0.3s linear var(--delay) forwards;
}

@media (max-width: 991px) {
  .bnft_title {
    margin-bottom: 12vw;
    font-size: 6.8vw;
  }
  .bnft_list {
    width: 90%;
    justify-content: inherit;
    display: grid;
  }
  .bnft_list::before {
    display: none;
  }
  .bnft_item {
    width: fit-content;
  }
  .bnft_list .observe:nth-child(even) {
    margin-top: -5vw;
    justify-self: right;
  }
  .bnft_item img {
    width: 20vw;
    height: 20vw;
  }
  .bnft_desc {
    width: 42vw;
    padding: 2vw 4vw;
    font-size: 4vw;
  }
  .activeItem {
    width: fit-content;
  }
  .activeItem .bnft_item img {
    animation: bnft_icon 0.8s linear forwards;
  }
  .activeItem .bnft_desc {
    animation: bnft_desc 0.8s linear forwards;
  }
}

@keyframes bnft_line {
  from {
    background-position: 0%;
  }
  to {
    background-position: -100%;
  }
}

@keyframes bnft_icon {
  from {
    background-color: #1d1d1d;
  }
  to {
    background-color: var(--yellow);
  }
}

@keyframes bnft_desc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* #endregion B E N E F I T S */

/* #region G A L L E R Y */
.gallery {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.gallery_item {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  display: grid;
}
.gallery_track {
  position: relative;
  gap: 20px;
}
.gallery_img {
  width: 250px;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.gallery_img__large {
  aspect-ratio: 1 / .5;
  grid-column: span 2;
}
.gallery_img__large .gallery_img {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .gallery_track {
    gap: 2vw;
  }
  .gallery_item {
    gap: 2vw;
  }
  .gallery_img {
    width: 45vw;
  }
}
 /* #endregion G A L L E R Y */
